<%= form_with(model: rank) do |form| %>
  <% if rank.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
        <% rank.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rank, style: "display: block" %>
    <%= form.number_field :rank %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :joke_id, style: "display: block" %>
    <%= form.text_field :joke_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
