<div id="<%= dom_id joke %>">
  <p>
    <strong>Content:</strong>
    <%= joke.content %>
  </p>

  <p>
    <strong>Rank avg:</strong>
    <%= joke.rank_avg %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= joke.category_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= joke.user_id %>
  </p>

</div>
